<!DOCTYPE html>
<html lang="en" data-form-id="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Heroku Flow Demo Page</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://www.herokucdn.com/favicon.ico" />
  <link rel="stylesheet" media="all" href="https://www-assets1.herokucdn.com/assets/application-e050c4e717e7fb263e69de803a447fc197afb2b81a90d09f37a7578aca8a7291.css" />
</head>

<body class="partnering-page js-pages-show-partnering">
  <div class="page">
    <header id="header">
      <nav id="navigation" role="navigation">
        <div class="wrapper-full">
          <div id="logo">
            <a href="https://www.heroku.com/home">Heroku</a>
          </div>
        </div>
      </nav>
      <div class="page-content">
        <div class="wrapper wrapper-md text-center">
          <h2 th:text="${science}"/>
        </div>
      </div>
  </div>
</body>
